In [277]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

In [278]:
df = pd.read_csv('SAMPLE_2_B_SCORED.csv')

In [279]:
df.head()

,ID,Churned,Number_Accounts,target,Income,Auto_Loan,_Previous_Refi,rate,Credit_Issues,name
0,PC 17562,1,1,A,28.5,0,0,27.7208,C,"Allen, Miss. Elisabeth Walton"
1,C.A. 33595,0,2,B,12.0,0,0,15.7500,S,"Allison, Master. Hudson Trevor"
2,C.A. 33595,0,2,B,40.0,0,0,15.7500,S,"Allison, Miss. Helen Loraine"
3,2543,0,1,A,31.0,0,0,28.5375,C,"Allison, Mr. Hudson Joshua Creighton"
4,349237,1,3,A,25.0,1,0,17.8000,S,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)"

In [280]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
ID                 1309 non-null object
Churned            1309 non-null int64
Number_Accounts    1309 non-null int64
target             1309 non-null object
Income             1046 non-null float64
Auto_Loan          1309 non-null int64
_Previous_Refi     1309 non-null int64
rate               1308 non-null float64
Credit_Issues      1307 non-null object
name               1309 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 102.3+ KB

In [281]:
df.describe()

,Churned,Number_Accounts,Income,Auto_Loan,_Previous_Refi,rate
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,0.618029,2.294882,29.881135,0.498854,0.385027,33.295479
std,0.486055,0.837836,14.413500,1.041658,0.865560,51.758668
min,0.000000,1.000000,0.166700,0.000000,0.000000,0.000000
25%,0.000000,2.000000,21.000000,0.000000,0.000000,7.895800
50%,1.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,1.000000,3.000000,39.000000,1.000000,0.000000,31.275000
max,1.000000,3.000000,80.000000,8.000000,9.000000,512.329200

In [282]:
# drop off all rows contain NaN
df = df.dropna(how='any')

In [283]:
#drop off ID and name
df.drop(['ID','name'],axis=1,inplace=True)

In [284]:
# one hot encoding
df = pd.get_dummies(df)

In [1]:
df['Churned'].value_counts()

NameError: name 'df' is not defined

### Original Churned_rate as Churned_rate

In [286]:
Churned_rate = df.loc[df.Churned == 1, 'Churned'].count()/df['Churned'].count()
Churned_rate = Churned_rate * 100

In [287]:
print('Churned_rate:', round(Churned_rate,2), '%.')

Churned_rate: 59.25 %.

### Features and Labels

In [288]:
# Labels are the values we want to predict
labels = np.array(df['Churned'])

In [289]:
# Remove the labels from the df
df = df.drop('Churned', axis = 1)

In [290]:
# Saving df names for later use
df_list = list(df.columns)

In [291]:
# Convert to numpy array
df = np.array(df)

### Training and Testing Sets

In [292]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

In [293]:
# Split the data into training and testing sets
train_df, test_df, train_labels, test_labels = train_test_split(df, labels, test_size = 0.25,
                                                                           random_state = 42)

In [294]:
#Check the size of 
print('Training df Shape:', train_df.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing df Shape:', test_df.shape)
print('Testing Labels Shape:', test_labels.shape)

Training df Shape: (782, 10)
Training Labels Shape: (782,)
Testing df Shape: (261, 10)
Testing Labels Shape: (261,)

### Baseline

In [295]:
baseline_rate = 100*((test_labels == 1).sum()/len(test_labels))

In [296]:
print('Churned_rate:', round(baseline_rate,2), '%.')

Churned_rate: 55.56 %.

### RandomForest

In [297]:
from sklearn.ensemble import RandomForestClassifier

In [298]:
rf = RandomForestClassifier(n_estimators= 300, oob_score=True, random_state=42)

In [299]:
rf.fit(train_df, train_labels);

In [300]:
predictions = rf.predict(test_df)

In [301]:
print(predictions)

[1 1 1 1 1 1 0 1 1 0 0 0 1 1 1 1 1 1 1 1 0 0 1 1 0 1 1 0 1 1 1 0 0 0 0 0 1
 0 1 0 0 1 1 0 1 0 0 0 1 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 1 0 0 0 1 1 1 1 1 0
 0 0 0 1 1 1 0 1 1 0 0 1 1 1 0 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 0 0 0 1 1 1
 1 1 0 0 1 0 0 1 0 0 1 1 1 1 0 0 0 1 1 1 1 1 1 1 0 1 1 0 0 1 0 0 0 1 0 0 0
 1 1 0 1 1 1 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 0 0 0 1 1 0 0 1 1 0 1 1 1 1 0 1 1 0 0 1 0 1 0 0 1 1 1 1 0 0 0 1 0 0 1
 1 1 1 1 0 1 0 1 1 1 0 1 0 1 0 0 1 1 0 0 1 0 0 1 1 1 1 0 1 0 1 0 1 1 0 1 1
 1 1]

### classification_report,confusion_matrix are functions to check the accuracy of predictions

In [302]:
from sklearn.metrics import classification_report,confusion_matrix

In [303]:
print(classification_report(test_labels,predictions))

             precision    recall  f1-score   support

          0       0.72      0.66      0.68       116
          1       0.74      0.79      0.77       145

avg / total       0.73      0.73      0.73       261

In [304]:
print(confusion_matrix(test_labels,predictions))

[[ 76  40]
 [ 30 115]]

In [305]:
churn_pred_rate = 100*((predictions == 1).sum()/len(predictions))
print('Churned_rate:', round(churn_pred_rate,2), '%.')

Churned_rate: 59.39 %.

### GradientBoosting

In [313]:
from sklearn.ensemble import GradientBoostingClassifier

In [314]:
gb = GradientBoostingClassifier(learning_rate=1, n_estimators=200, max_features=None, min_samples_split=2, max_depth=None)

In [315]:
gb.fit(train_df, train_labels);

In [316]:
gb_predictions = gb.predict(test_df)

In [317]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(test_labels,gb_predictions))

             precision    recall  f1-score   support

          0       0.72      0.77      0.74       116
          1       0.80      0.77      0.78       145

avg / total       0.77      0.77      0.77       261

In [318]:
print(confusion_matrix(test_labels,gb_predictions))

[[ 89  27]
 [ 34 111]]

In [319]:
gb_churn_pred_rate = 100*((gb_predictions == 1).sum()/len(gb_predictions))
print('Churned_rate:', round(gb_churn_pred_rate,2), '%.')

Churned_rate: 52.87 %.

### Both predictions are not accurate enough. I did some tuned on n_estimators. n_estimators = 200 has best performance